body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1
}

li h3 {
    padding: 0px 16px;
}

li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}

li a:hover:not(.active) {
    background-color: #555555;
    color: white;
}

.active {
    background-color: #1a1a1a;
    color: white;
}

.navbar {
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
    top: 0;
    left: 0;
}

.content {
    margin-left: 200px;
    padding: 1px 20px;
}



/* DASHBOARD */


/* Reviews Section */

.h-reviews-scroller {
    display: grid;
    gap: 2%;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.review-card {
    background-color: beige;
    border-radius: 5%;
    border: 1px solid #1a1a1a;
}

.review-card img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.review-card-title {
    margin-left: 5%;
    font-size: 1.25rem;
    font-weight: bold;
    font-style: italic;
}

.review-card-author {
    margin-left: 5%;
    font-style: italic;
}