body {
    margin: 0;
    padding-bottom: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1
}

li h3 {
    padding: 0px 16px;
}

li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}

li a:hover:not(.active) {
    background-color: #555555;
    color: white;
}

.active {
    background-color: #1a1a1a;
    color: white;
}

.navbar {
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
    top: 0;
    left: 0;
}

.content {
    margin-left: 200px;
    padding: 1px 20px;
}



/* DASHBOARD */

.dash-title {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

.h-scroller {
    display: grid;
    gap: 2%;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

/* Reviews Section */

.review-card {
    background-color: beige;
    border-radius: 5%;
    border: 1px solid #1a1a1a;
    padding-left: 5%;
}

.review-card img {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-card-author {
    font-style: italic;
}




/* Profile Section */

.tag {
    background-color: rgba(68, 5, 119, 0.5);
    border: 0.5px solid #44057780;
    border-radius: 7.5px;
    color:#fff;
    display:inline-block;
    padding-left:16px;
    padding-right:16px;
    text-align:center;
    line-height: 5%;
    height: 30px;
}

.profile-dash {
    display: flex;
    flex-wrap: wrap;
}

.profile-dash h2 {
    width: 100%;
}

.fav-genre {
    flex: 1;
    margin-right: 50px;
}

.fav-era {
    flex: 1;
    margin-left: 50px;
}

.fav-author {
    width: 100%;
}

.author-card {
    background-color: beige;
    border-radius: 20px;
    border: 1px solid #1a1a1a;
    padding: 5%;
}

.author-card ul {
    font-size: 0.75rem;
}